<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rice Sales Management</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="icon" type="image/x-icon" th:href="@{/images/account.jpg}">
    <!-- JavaScript -->
    <script src="/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</head>
<body>
<div th:insert="~{layout/header :: header}"></div>

<div th:insert="~{layout/sidebar :: sidebar}"></div>

<!-- Content -->
<div class="content" id="content"> <!-- Mặc định đẩy nội dung sang phải -->
    <div class="intro-container">
        <h1>Welcome to <span class="highlight">RSMS</span></h1>
        <p class="intro-text">
            Your trusted solution for effortless rice business management.
        </p>
        <div class="intro-features">
            <div class="feature-item">
                <h3>📦 Inventory Tracking</h3>
                <p>Monitor stock levels and ensure efficient supply management</p>
            </div>
            <div class="feature-item">
                <h3>🛠 Sales Assistance</h3>
                <p>Empower sales staff with easy access to product information and customer details</p>
            </div>
            <div class="feature-item">
                <h3>👥 Customer Management</h3>
                <p>Engage with customers and streamline service processes</p>
            </div>
        </div>
        <p class="intro-text">
            <strong>Start today</strong> and enhance your rice business effortlessly!
        </p>


    </div>

</div>




<footer>
    &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>



</body>
</html>