<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" th:href="@{/images/account.jpg}">
    <style>
        #general-error {
            color: red;
            font-size: 15px;
            font-weight: bold;
            margin-top: 8px;
            margin-bottom: 8px;
            text-align: center;
        }
    </style>
    <script src="/js/validateLogin.js"></script>

</head>
<body>
<!-- Header -->
<div class="header">
    <h2><a href="/login">RSMS</a></h2>
</div>
<section class="bottom">
    <!-- Background Image -->
    <img th:src="@{/images/account.jpg}" alt="Logo" class="background-img">
    <link rel="icon" type="image/x-icon" th:href="@{/images/account.jpg}">

    <!-- Login Form -->
    <div class="login-container">
        <h2>Đăng nhập</h2>
        <form id="loginForm">
            <div class="input-group">
                <label for="username">Tài khoản</label>
                <input type="text" id="username" name="username" >
                <span class="error-message" id="username-error"></span>
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" >
                <span class="error-message" id="password-error"></span>
            </div>
            <!-- ⚠️ Lỗi tổng quát ở đây -->
            <div id="general-error"></div>
            <button type="submit" class="btn">Đăng nhập</button>
            <p class="register-link">Bạn chưa có tài khoản? <a href="/register">Đăng kí</a></p>
            <p class="register-link">Bạn quên mật khẩu? <a href="/forgotpw">Quên mật khẩu</a></p>
        </form>
    </div>
</section>
<footer>
    &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>
</body>

</html>
