<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rice Sales Management</title>
    <link rel="stylesheet" href="/css/list.css">
    <!-- JavaScript -->
    <script src="/js/home.js"></script>


</head>
<body>
<!-- Header -->
<div class="header">
    <button class="menu-btn" onclick="toggleSidebar()">☰</button>
    <h2><a href="/home">RSMS</a></h2>
    <button id="logout" class="logout">Logout</button>


</div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

    <h2>Feature</h2>
    <a href="/userprofile" >Profile</a>
    <a href="/listOwner" >Account Management</a>

    <a href="listOwner" >Rice Management</a>

    <a href="/listCustomer" >Customer Management</a>

    <a href="listOwner" >Warehouse Management</a>

    <a href="javascript:void(0);" onclick="toggleSubmenu('inventoryMenu')">Inventory Management
    <span class="arrow">  ▶</span></a>
    <div id="inventoryMenu" class="submenu" style="display: none;">
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
    </div>
</div>

<!-- Content -->
<div class="content" id="content"> <!-- Mặc định đẩy nội dung sang phải -->
    <h1>Simple Sidebar</h1>
    <p>Make sure to keep all page content within the <strong>.content</strong> div.</p>
</div>


<footer>
    &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>
</body>
</html>