<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rice Sales Management</title>
    <link rel="stylesheet" href="/css/list.css">
    <!-- JavaScript -->
    <script src="/js/home.js"></script>


</head>
<body>
<!-- Header -->
<div class="header">
    <button class="menu-btn" onclick="toggleSidebar()">☰</button>
    <h2><a href="/home">RSMS</a></h2>
    <button id="logout" class="logout">Logout</button>


</div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

    <h2>Feature</h2>
    <a href="/userprofile" >Profile</a>
    <a href="/listOwner" th:style="${#lists.contains(listHiddenPage, 'listOwner')} ? 'display: none;' : ''" >Account Management</a>

    <a href="" th:style="${#lists.contains(listHiddenPage, 'listStaff')} ? 'display: none;' : ''">Staff Management</a>

    <a href="/listOwner" >Rice Management</a>

    <a href="/listOwner" >Customer Management</a>

    <a href="/listOwner" >Warehouse Management</a>


    <a href="javascript:void(0);" onclick="toggleSubmenu('inventoryMenu')">Invoice Management
    <span class="arrow">  ▶</span></a>
    <div id="inventoryMenu" class="submenu" style="display: none;">
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
        <a href="/listOwner">Import Rice</a>
    </div>
</div>

<!-- Content -->
<div class="content" id="content"> <!-- Mặc định đẩy nội dung sang phải -->
    <div class="intro-container">
        <h1>Welcome to <span class="highlight">RSMS</span></h1>
        <p class="intro-text">
            Your trusted solution for effortless rice business management.
        </p>
        <div class="intro-features">
            <div class="feature-item">
                <h3>📦 Inventory Tracking</h3>
                <p>Monitor stock levels and ensure efficient supply management</p>
            </div>
            <div class="feature-item">
                <h3>🛠 Sales Assistance</h3>
                <p>Empower sales staff with easy access to product information and customer details</p>
            </div>
            <div class="feature-item">
                <h3>👥 Customer Management</h3>
                <p>Engage with customers and streamline service processes</p>
            </div>
        </div>
        <p class="intro-text">
            <strong>Start today</strong> and enhance your rice business effortlessly!
        </p>
    </div>
</div>


<footer>
    &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>
</body>
</html>