<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- JavaScript -->
    <script src="/js/home.js"></script>


</head>

<body>
    <!-- Header -->
    <div class="header">
        <button class="menu-btn" onclick="toggleSidebar()">☰</button>
        <h2><a href="/home">RSMS</a></h2>
        <a href="/login" class="login">Logout</a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">

        <h2>Feature</h2>
        <a href="javascript:void(0);" onclick="toggleSubmenu('registerMenu')">Rice Management
            <span class="arrow"> ▶</span></a>
        <div id="registerMenu" class="submenu" style="display: none;">
            <a href="/form">🍚 Rice Cooking</a>
            <a href="/form">🍘 Sticky Rice Cooking</a>
            <a href="/form">🥣 Porridge Cooking</a>
            <a href="/form">🍰 Cakes and Flour Making</a>
            <a href="/form">🍶 Rice Wine or Wine Making</a>
            <a href="/form">🥗 Special Nutrition</a>
            <a href="/form">🍙 Foreign Dishes </a>
        </div>
        <a href="javascript:void(0);" onclick="toggleSubmenu('listMenu')">Inventory Management
            <span class="arrow"> ▶</span></a>
        <div id="listMenu" class="submenu" style="display: none;">
            <a href="/list">Import Rice</a>

        </div>
        <a href="/zone" onclick="toggleSubmenu('zone')">Zone
        </a>




    </div>

    <!-- Content -->
    <div class="content" id="content"> <!-- Mặc định đẩy nội dung sang phải -->
        <h1>Simple Sidebar</h1>
        <p>Make sure to keep all page content within the <strong>.content</strong> div.</p>
    </div>



</body>

</html>