<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo hóa đơn nhập </title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/bill.css">
    <link rel="icon" type="image/x-icon" th:href="@{/images/account.jpg}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/js/home.js"></script>
    <script src="/js/importProduct.js"></script>
    <script src="/js/validateCusImported.js"></script>
    <style>
        .form-row {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
        }

        .form-row label {
            margin-bottom: 5px;
            font-weight: 600;
        }

        .styled-input {
            padding: 10px;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        .form-row.center {
            text-align: center;
        }

        .btn-save {
            background-color: #2c3e50;
            color: white;
            padding: 10px 25px;
            border: none;
            border-radius: 6px;
            font-size: 15px;
            cursor: pointer;
            transition: background-color 0.3s;
        }


    </style>
</head>
<body>
<div th:insert="~{layout/header :: header}"></div>

<div class="sidebar" id="sidebar">
    <div th:insert="~{layout/sidebar :: sidebar}"></div>
</div>


<!-- Content -->
<div class="content">
    <div>
        <span style="margin-left: 250px; padding-left: 50px" class="tab active">Phiếu nhập gạo</span>

    </div>

    <div class="main-container">
        <div class="left-panel">
            <!-- Nút thêm sản phẩm -->
            <div class="add-product" id="add-product">
                <span onclick="showProductModal()">+ Tên sản phẩm</span>
                <label style="margin-left: 300px">Ngày nhập:
                    <input type="date" name="importDate" id="importDate"/>
                </label>
            </div>

            <!-- Modal chứa danh sách sản phẩm -->
            <div id="product-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeProductModal()">×</span>
                    <h2>Chọn sản phẩm</h2>
                    <input type="text" id="search-product" class="styled-input" placeholder="Nhập tên sản phẩm..."
                           onkeyup="searchProduct()">
                    <div id="product-list" class="product-list">
                        <p>Nhập tên sản phẩm để tìm kiếm...</p>
                    </div>
                </div>
            </div>

            <!-- Danh sách sản phẩm -->
            <div class="products-container">
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Sản phẩm</th>
                        <th>Giá gốc</th>
                        <th class="quantity-cell">SL</th>
                        <th class="price-cell">Giá nhập</th>
                        <th class="price-cell">Thành tiền</th>
                        <th>Zone</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody id="selected-products"></tbody>
                </table>
            </div>
        </div>

        <div class="right-panel">
            <!-- Thông tin khách hàng -->
            <div class="section">
                <div class="section-header">Thông tin nhà cung cấp</div>
                <div class="section-content">
                    <div class="form-group">
                        <div class="customer-buttons">
                            <button id="search-customer-btn">🔍 Tìm</button>
                            <button id="add-customer-btn">➕ Thêm</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customer-name">Khách hàng</label>
                        <input type="text" class="form-control" id="customer-name" style="width: 230px">
                    </div>
                    <div class="form-group">
                        <label for="customer-address">Địa chỉ</label>
                        <input type="text" class="form-control" id="customer-address" style="width: 90%">
                    </div>
                    <div class="form-group">
                        <label for="customer-phone">Số điện thoại</label>
                        <input type="text" class="form-control" id="customer-phone" style="width: 90%">
                    </div>
                    <div class="form-group">
                        <label for="customer-gender">Giới tính</label>
                        <input type="text" class="form-control" id="customer-gender" style="width: 90%">
                    </div>
                    <div class="form-group">
                        <label for="customer-dob">Ngày sinh</label>
                        <input type="text" class="form-control" id="customer-dob" style="width: 90%">
                    </div>
                    <div class="form-group">
                        <label for="customer-moneystate">Số dư</label>
                        <input type="text" class="form-control" id="customer-moneystate" style="width: 90%">
                    </div>

                </div>
            </div>

            <!-- Popup tìm kiếm khách hàng -->
            <div id="customer-search-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeCustomerSearchModal()">&times;</span>
                    <h2>Tìm kiếm khách hàng</h2>
                    <input type="text" id="search-customer-input" style="width: 95%" class="styled-input" placeholder="Nhập tên khách hàng..." onkeyup="searchCustomer()">
                    <div id="customer-list" class="customer-list"></div>
                </div>
            </div>

            <!-- Popup thêm khách hàng -->
            <div id="add-customer-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeAddCustomerModal()">&times;</span>
                    <h2>Thêm khách hàng</h2>
                    <form id="addCustomer" action="/bill/addCustomer" class="create-form" method="post" onsubmit="return validateForm()">
                        <div class="form-row">
                            <label>Tên khách hàng</label>
                            <input type="text" name="name" style="Nwidth: 95%"
                                   class="form-control styled-input" id="new-customer-name"
                                   oninput="validateName(this)"
                            >
                            <small class="error-message" id="name-error"></small>
                        </div>
                        <div class="form-row">
                            <label>Số điện thoại</label>
                            <input type="text" name="phone" style="width: 95%"
                                   class="form-control styled-input" id="new-customer-phone"
                                   oninput="validatePhone(this)"
                            >
                            <small class="error-message" id="phone-error"></small>
                        </div>
                        <div class="form-row">
                            <label>Địa chỉ</label>
                            <input type="text" name="address" style="width: 95%" class="form-control styled-input"
                                   id="new-customer-address"
                                   oninput="validateAddress(this)"
                            >
                            <small class="error-message" id="address-error"></small>
                        </div>
                        <div class="form-row">
                            <label>Giới tính:</label>
                            <select id="new-customer-gender" class="form-control styled-input"  style="width: 100%" name="gender">
                                <option value="true" >Nam</option>
                                <option value="false" >Nữ</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Ngày sinh</label>
                            <input type="date" style="width: 95%" class="form-control styled-input"
                                   id="new-customer-dob" name="dob" oninput="validateDob(this)">
                            <small class="error-message" id="dob-error"></small>
                        </div>
                        <button class="btn-save"  id="save-customer-btn">Tạo </button>
                    </form>
                </div>
            </div>

            <!-- Tổng cộng -->
            <div class="section">
                <div class="section-header">Tổng cộng</div>
                <div class="section-content">
                    <div class="total-row">
                        <span class="total-label">Tổng tiền hàng:</span>
                        <span class="total-value" id="total-amount">0</span>
                    </div>
                    <div class="total-row">
                        <span class="total-label">Cần phải trả:</span>
                        <span class="total-value highlight" id="customer-pay">0</span>
                    </div>
                </div>
            </div>

            <!-- Thanh toán -->
            <div class="section">
                <div class="section-header">Thanh toán</div>
                <div class="section-content">
                    <div class="total-row">
                        <span class="total-label">Đã trả cho khách:</span>
                    </div>
                    <div class="total-row" style="display:block">
                        <input type="text" style="width: 90%" class="form-control" id="customer-payment"
                               placeholder="Nhập số tiền đã thanh toán">
                        <span id="customer-payment-error" class="error-message"></span>
                    </div>
                    <div class="payment-method" style="margin-top: 10px">
                        <input type="checkbox" name="payment" id="loading">
                        <label for="loading" class="total-label">Bốc hàng</label>
                    </div>
                    <div class="total-row" style="display: block">
                        <span class="total-label">Tiền bốc hàng:</span>
                        <input type="text" class="form-control" id="loading-amount" value="0" readonly
                               style="width: 90%; margin-top: 5px">
                        <span id="loading-amount-error" class="error-message"></span>
                    </div>
                </div>
                <button class="checkout-button">THANH TOÁN</button>
            </div>
        </div>
    </div>
</div>

<footer>
    © 2025 Rice Sales Management. All Rights Reserved.
</footer>

<script>

    // Ngăn chỉnh sửa các trường khách hàng
    document.getElementById("customer-name").readOnly = true;
    document.getElementById("customer-address").readOnly = true;
    document.getElementById("customer-phone").readOnly = true;
    document.getElementById("customer-gender").readOnly = true;
    document.getElementById("customer-dob").readOnly = true;
    document.getElementById("customer-moneystate").readOnly = true;

    ['customer-name', 'customer-address', 'customer-phone', 'customer-gender', 'customer-dob'].forEach(id => {
        document.getElementById(id).addEventListener("keydown", function (event) {
            event.preventDefault();
        });
        document.getElementById(id).addEventListener("contextmenu", function (event) {
            event.preventDefault();
        });
    });

    // Sự kiện nút tìm kiếm và thêm khách hàng
    document.getElementById("search-customer-btn").addEventListener("click", function () {
        document.getElementById("customer-search-modal").style.display = "flex";
    });

    function closeCustomerSearchModal() {
        document.getElementById("customer-search-modal").style.display = "none";
    }

    document.getElementById("add-customer-btn").addEventListener("click", function () {
        document.getElementById("add-customer-modal").style.display = "flex";
    });

    function closeAddCustomerModal() {
        document.getElementById("add-customer-modal").style.display = "none";
    }

    function validateNumber(input) {
        let value = input.value;

        let quantity = parseInt(value, 10);

        if (isNaN(quantity) || quantity < 1) {
            alert("Đơn giá không hợp lệ!!!")
        }
    }


    // Sự kiện checkbox "Bốc hàng"
    document.getElementById("loading").addEventListener("change", function () {
        let loadingAmountInput = document.getElementById("loading-amount");
        if (this.checked) {
            loadingAmountInput.removeAttribute("readonly");
        } else {
            loadingAmountInput.setAttribute("readonly", true);
            loadingAmountInput.value = "0";
        }
        updateOrderTotal();
        updateTotalDebt();
    });

    // Cập nhật tổng công nợ khi nhập số tiền thanh toán
    document.getElementById("customer-payment").addEventListener("input", function (event) {
        let inputValue = event.target.value.trim();
        let errorSpan = document.getElementById("customer-payment-error");
        let moneyState = parsePrice(customer.moneyState || "0");
        if (inputValue === "") {
            errorSpan.textContent = "";
            event.target.classList.remove("input-error");
            document.getElementById("customer-totaldebt").value = formatPrice(oldDebt);
            return;
        }
        if (!/^\d+$/.test(inputValue)) {
            errorSpan.textContent = "Vui lòng nhập số nguyên dương!";
            event.target.classList.add("input-error");
            return;
        } else {
            errorSpan.textContent = "";
            event.target.classList.remove("input-error");
        }
        updateTotalDebt();
    });

    // Cập nhật tổng công nợ
    function updateTotalDebt() {
        let customerName = document.getElementById("customer-name").value.trim();
        let payment = parsePrice(document.getElementById("customer-payment").value);
        let moneyFinal = document.getElementById("customer-moneystate").value.trim();
        let totalAmount = parsePrice(document.getElementById("total-amount").textContent) || 0;

        if (customerName === "") {
            document.getElementById("customer-totaldebt").value = "";
            return;
        }

        if (payment >= 0) {
            moneyFinal = totalAmount-payment;
            document.getElementById("customer-moneystate").value = formatPrice(moneyFinal);
        }else{
            document.getElementById("customer-moneystate").value = 0;
        }
    }

    // Cập nhật tổng tiền
    function updateOrderTotal() {
        let productTotal = products.reduce((sum, product) => sum + product.price * product.quantity, 0);
        let loadingFee = document.getElementById("loading").checked ? parsePrice(document.getElementById("loading-amount").value) : 0;
        let finalTotal = productTotal + loadingFee;
        document.getElementById("total-amount").textContent = formatPrice(finalTotal);
        document.getElementById("customer-pay").textContent = formatPrice(finalTotal);
    }

    // Sự kiện nhập tiền bốc hàng
    document.getElementById("loading-amount").addEventListener("input", function (event) {
        if (document.getElementById("loading").checked) {
            let inputValue = event.target.value;
            let errorSpan = document.getElementById("loading-amount-error");
            if (inputValue === "") {
                errorSpan.textContent = "";
                event.target.classList.remove("input-error");
                updateOrderTotal();
                updateTotalDebt();
                return;
            }
            if (!/^\d+$/.test(inputValue)) {
                errorSpan.textContent = "Vui lòng nhập số nguyên dương!";
                event.target.classList.add("input-error");
                return;
            } else {
                errorSpan.textContent = "";
                event.target.classList.remove("input-error");
            }
            updateOrderTotal();
            updateTotalDebt();
        }
    });

    // Xử lý thanh toán
    document.querySelector(".checkout-button").addEventListener("click", function () {
        if (!customer.name || products.length === 0) {
            alert("Vui lòng nhập thông tin khách hàng và thêm sản phẩm!");
            return;
        }

        for (let product of products) {
            if (isNaN(product.price) || product.price <= 0) {
                alert("Giá sản phẩm không hợp lệ!");
                return;
            }
            if (!product.zoneId) {
                alert("Vui lòng chọn zone cho tất cả sản phẩm!");
                return;
            }
        }

        let productList = products.map(product => ({
            id: product.id,
            image : product.image,
            name : product.name,
            quantity: product.quantity,
            price: product.price,
            subtotal: product.price * product.quantity,
            zoneId: product.zoneId,
        }));

        let requestData = {
            paidMoney : document.getElementById("customer-payment").value || 0,
            debtMoney : parsePrice(document.getElementById("customer-moneystate").value) || 0,
            portedMoney : document.getElementById("loading-amount").value || "0",
            importDate: document.getElementById("importDate").value,
            customerPhone : document.getElementById("customer-phone").value,
            productData: productList
        };

        fetch("/product/import", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(requestData)
        })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                    return;
                }
                if (!response.ok) {
                    throw new Error(`Lỗi từ server: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {

                if (data && data.success) { // Kiểm tra data tồn tại
                    alert("Thanh toán thành công!");
                    // Reset form
                    customer = {};
                    products = [];
                    document.getElementById("customer-name").value = "";
                    document.getElementById("customer-phone").value = "";
                    document.getElementById("customer-address").value = "";
                    document.getElementById("customer-dob").value = "";
                    document.getElementById("customer-gender").value = "";
                    document.getElementById("customer-moneystate").value = "";
                    document.getElementById("customer-totaldebt").value = "";
                    document.getElementById("customer-payment").value = "";
                    document.getElementById("loading").checked = false;
                    document.getElementById("loading-amount").value = "0";
                    document.getElementById("loading-amount").setAttribute("readonly", true);
                    renderProducts();
                    updateOrderTotal();
                } else if (data) {
                    alert("Lỗi khi xử lý thanh toán: " + (data.message || "Không có thông tin lỗi"));
                }
            })
            .catch(error => {
                console.error("Lỗi chi tiết:", error);
                alert("Có lỗi xảy ra khi gửi dữ liệu: " + error.message);
            });

    });

</script>
</body>
</html>