<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Sản phẩm</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="icon" type="image/x-icon" th:href="@{/images/account.jpg}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <style>
    .pagination {
      text-align: center;
      margin-top: 20px;
    }

    .pagination a {
      display: inline-block;
      padding: 8px 16px;
      margin: 4px;
      text-decoration: none;
      background-color: #2c3e50;
      color: white;
      border-radius: 5px;
    }

    .pagination a:hover {
      background-color: #1a252f;
    }

    .pagination span {
      font-size: 18px;
      margin: 0 10px;
    }

    .form-search input:focus {
      border-color: #e67e22;
      box-shadow: 0 0 8px rgba(230, 126, 34, 0.5);
    }

    .importBtn{
      position: absolute;
      margin-left: 900px;
      top: 50px;
      background-color: #D67C2C;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>

  <script src="/js/home.js"></script>
  <script>
    function openForm() {
      document.getElementById("studentFormModal").style.display = "block";
    }

    function closeForm() {
      document.getElementById("studentFormModal").style.display = "none";
    }

    function openUpdateForm(button) {
      document.getElementById("updateForm").style.display = "block";

    }

    function closeUpdateForm() {
      document.getElementById("updateForm").style.display = "none";
    }

    window.onclick = function(event) {
      const modal = document.getElementById("studentFormModal");
      if (event.target === modal) {
        modal.style.display = "none";
      }
    };
  </script>

</head>
<body>

<div th:insert="~{layout/header :: header}"></div>

<div class="sidebar" id="sidebar">
  <div th:insert="~{layout/sidebar :: sidebar}"></div>
</div>



<!-- Content -->
<div class="content" id="content">

  <button class="add-btn" onclick="createProductForm()" th:style="${#lists.contains(listHiddenPage, 'createProduct')} ? 'display: none;' : ''">+</button>

  <!-- List -->
  <h1>Danh sách sản phẩm</h1>
  <button class="importBtn" onclick="importProduct()">Nhập sản phẩm</button>
  <form class="form-search" th:action="@{/product/listProduct}" method="get">
    <label for="search"></label>
    <input
            style="height: 30px; width: 750px"
            type="text" id="search" name="searchKeyWord"
            placeholder="Tìm kiếm bằng tên sản phẩm hoặc mô tả..."
    >
    <select name="searchBy">
      <option value="name" th:selected="${sortField == 'name'}">Tên</option>
      <option value="description" th:selected="${sortField == 'description'}">Mô tả</option>
    </select>
    <input type="hidden" name="sortField" th:value="${sortField}">
    <input type="hidden" name="sortDirection" th:value="${sortDirection}">
    <button type="submit" class="submit-button">Tìm kiếm</button>
  </form>
  <table class="styled-table">
    <thead>
    <tr>
      <td>Image</td>
      <td>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/product/listProduct(page=${currentPage}, sortField='name', sortDirection=${reverseSortDirection}, searchKeyWord=${searchKeyWord}, searchBy=${searchBy})}">
          Tên
        </a>
      </td>
      <td>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/product/listProduct(page=${currentPage}, sortField='price', sortDirection=${reverseSortDirection}, searchKeyWord=${searchKeyWord}, searchBy=${searchBy})}">
          Giá
        </a>
      </td>
      <td>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/product/listProduct(page=${currentPage}, sortField='quantity', sortDirection=${reverseSortDirection}, searchKeyWord=${searchKeyWord}, searchBy=${searchBy})}">
          Số lượng(kg)
        </a>
      </td>
      <td>mô tả</td>
      <td>Hành động</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products} " th:if="${product.isDeleted == 0}">
      <td><img th:src="${product.image}" width="100px" height="70px" alt=""></td>
      <td th:text="${product.name}"></td>
      <td class="price" th:attr="data-price=${product.price}"></td>
      <td th:text="${product.quantity}"></td>
      <td th:text="${product.description}"></td>
      <td>
        <button type="button" th:attr="data-modal-id='productModal' + ${product.id}" class="open-modal">Xem</button>
        <form th:action="@{/product/update}" method="get">
          <input type="hidden" name="id" th:value="${product.id}">
          <button type="submit">Sửa</button>
        </form>
        <form action="/product/delete" method="post" onsubmit="return confirmDelete()">
          <input type="hidden" name="id" th:value="${product.id}">
          <button type="submit">Xóa</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <div th:each="product : ${products}" th:if="${product.isDeleted == 0}" th:id="'productModal' + ${product.id}" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Danh sách các khu vực lưu trữ sản phẩm</h2>
      <table>
        <thead>
        <tr>
          <td>ID</td>
          <td>Tên</td>
          <td>Vị trí</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zone : ${product.getZones()}">
          <td th:text="${zone.getId()}"></td>
          <td th:text="${zone.getName()}"></td>
          <td th:text="${zone.getPosition()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination">
    <a style="text-decoration: none"
       th:if="${currentPage > 0}"
       th:href="@{/product/listProduct(page=${currentPage - 1}, sortField=${sortField}, sortDirection=${sortDirection}, searchKeyWord=${searchKeyWord}, searchBy=${searchBy})}">
      Trước
    </a>
    <span>Page <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages > 0 ? totalPages : 1}"></span></span>
    <a style="text-decoration: none"
       th:if="${currentPage < totalPages - 1}"[
       th:href="@{/product/listProduct(page=${currentPage + 1}, sortField=${sortField}, sortDirection=${sortDirection}, searchKeyWord=${searchKeyWord}, searchBy=${searchBy})}">
      Sau
    </a>
  </div>
</div>
<footer>
  &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>

</body>

<script>
  function createProductForm() {
    window.location.href ="/product/create";
  }

  function importProduct(){
    window.location.href="/product/import"
  }

  function showCreatedSuccess() {
    alert("You are successfully created!");
  }

  function confirmDelete() {
    return confirm("Bạn có chắc muốn xóa sản phẩm này không?")
  }


  function formatPrice(price) {
    return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
  }

  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".price").forEach(function(el) {
      let price = parseFloat(el.getAttribute("data-price"));
      el.innerText = formatPrice(price);
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    // Lấy tất cả các nút mở modal
    let openModalButtons = document.querySelectorAll(".open-modal");

    openModalButtons.forEach(button => {
      button.addEventListener("click", function () {
        let modalId = this.getAttribute("data-modal-id");
        let modal = document.getElementById(modalId);
        if (modal) {
          modal.style.display = "block";
        }
      });
    });

    // Lấy tất cả các nút đóng modal
    let closeButtons = document.querySelectorAll(".close");
    closeButtons.forEach(button => {
      button.addEventListener("click", function () {
        this.closest(".modal").style.display = "none";
      });
    });

    // Đóng modal khi nhấn bên ngoài vùng modal-content
    window.addEventListener("click", function (event) {
      document.querySelectorAll(".modal").forEach(modal => {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      });
    });
  });
</script>
</html>