<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="icon" type="image/x-icon" th:href="@{/images/account.jpg}">
  <script src="/js/importProduct.js"></script>
  <style>
    .pagination {
      text-align: center;
      margin-top: 20px;
    }

    .pagination a {
      display: inline-block;
      padding: 8px 16px;
      margin: 4px;
      text-decoration: none;
      background-color: #2c3e50;
      color: white;
      border-radius: 5px;
    }

    .pagination a:hover {
      background-color: #1a252f;
    }

    .pagination span {
      font-size: 18px;
      margin: 0 10px;
    }

    .form-search input:focus {
      border-color: #e67e22;
      box-shadow: 0 0 8px rgba(230, 126, 34, 0.5);
    }

    .importBtn{
      position: absolute;
      margin-left: 940px;
      top: 50px;
      background-color: #D67C2C;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>

  <script src="/js/home.js"></script>
  <script>
    function openForm() {
      document.getElementById("studentFormModal").style.display = "block";
    }

    function closeForm() {
      document.getElementById("studentFormModal").style.display = "none";
    }

    function openUpdateForm(button) {
      document.getElementById("updateForm").style.display = "block";

    }

    function closeUpdateForm() {
      document.getElementById("updateForm").style.display = "none";
    }

    window.onclick = function(event) {
      const modal = document.getElementById("studentFormModal");
      if (event.target === modal) {
        modal.style.display = "none";
      }
    };
  </script>

</head>
<body>

<!-- Header -->
<div class="header">
  <button class="menu-btn" onclick="toggleSidebar()">☰</button>
  <h2><a href="/home">RSMS</a></h2>
  <div class="user-info">
    <img  th:src="${user.avatar}" alt="User Avatar" class="user-avatar"/>
    <div class="dropdown">
      <span th:text="${account.displayName}" class="user-name" onclick="toggleDropdown()"> ▼</span>
      <div id="dropdown-menu" class="dropdown-content">
        <a href="/user/userprofile">👤 View Profile</a>
        <a href="/user/changepw" id="changepw">🔑 Change password</a>
        <a href="/static#" id="logout">🚪 Logout</a>

      </div>
    </div>
  </div>

</div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

  <h2>Feature</h2>
  <a href="/user/userprofile" >Profile</a>
  <a href="/account/listStaff" th:style="${#lists.contains(listHiddenPage, 'listStaff')} ? 'display: none;' : ''">Staff Account Management</a>

  <a href="/product/listProduct" >Rice Management</a>

  <a href="/customer/listCustomer">Customer Management</a>

  <a href="/warehouse/listWarehouseZone" >Warehouse Management</a>


  <a href="/bill/listBill" >Invoice Management</a>

</div>



<!-- Content -->
<div class="content" id="content">

  <button class="add-btn" onclick="createProductForm()" th:style="${#lists.contains(listHiddenPage, 'createProduct')} ? 'display: none;' : ''">+</button>

  <!-- List -->
  <h1>List of Products</h1>
  <button class="importBtn" onclick="importProduct()">Import product</button>
  <form class="form-search" th:action="@{/product/search}" method="get">
    <label for="search"></label>
    <input
            style="height: 30px; width: 750px"
            type="text" id="search" name="searchKeyWord"
            placeholder="Search by product name or description..."
    >
    <select name="searchBy">
      <option value="name" th:selected="${sortField == 'name'}">Name</option>
      <option value="description" th:selected="${sortField == 'description'}">Description</option>
    </select>

    <button type="submit" class="submit-button">Search</button>
  </form>
  <table class="styled-table">
    <thead>
    <tr>
      <td>Image</td>
      <td>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/product/listProduct(page=${currentPage}, sortField='name', sortDirection=${reverseSortDirection})}">Name
        </a>
      </td>
      <td>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/product/listProduct(page=${currentPage}, sortField='price', sortDirection=${reverseSortDirection})}">Price
        </a>
      </td>
      <td>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/product/listProduct(page=${currentPage}, sortField='quantity', sortDirection=${reverseSortDirection})}">Quantity(kg)
        </a>
      </td>
      <td>Description</td>
      <td>Zones</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products} " th:if="${product.isDeleted == 0}">
      <td><img th:src="${product.image}" width="100px" height="70px" alt=""></td>
      <td th:text="${product.name}"></td>
      <td class="price" th:attr="data-price=${product.price}"></td>
      <td th:text="${product.quantity}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.zoneId}"></td>
      <td >
        <form th:action="@{/product/update}" method="get">
          <input type="hidden" name="id" th:value="${product.id}">
          <button type="submit">Update</button>
        </form>
        <form action="/product/delete" method="post" onsubmit="return confirmDelete()">
          <input type="hidden" name="id" th:value="${product.id}">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination">
    <!-- Nút "Trước" chỉ hiển thị khi currentPage > 1 -->
    <a style="text-decoration: none"
       th:if="${currentPage > 1}"
       th:href="@{/product/listProduct(page=${currentPage - 2}, sortField=${sortField}, sortDirection=${sortDirection})}">
      Trước
    </a>

    <span>Page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span></span>

    <!-- Nút "Sau" chỉ hiển thị khi currentPage < totalPages -->
    <a style="text-decoration: none"
       th:if="${currentPage < totalPages}"
       th:href="@{/product/listProduct(page=${currentPage}, sortField=${sortField}, sortDirection=${sortDirection})}">
      Sau
    </a>
  </div>
</div>
<footer>
  &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>

</body>

<script>
  function createProductForm() {
    window.location.href ="/product/create";
  }

  function importProduct(){
    window.location.href="/product/import"
  }

  function showCreatedSuccess() {
    alert("You are successfully created!");
  }

  function confirmDelete() {
    return confirm("Bạn có chắc muốn xóa sản phẩm này không?")
  }


  function formatPrice(price) {
    return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
  }

  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".price").forEach(function(el) {
      let price = parseFloat(el.getAttribute("data-price"));
      el.innerText = formatPrice(price);
    });
  });
</script>
</html>