<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Rice Sales Management</title>
  <link rel="stylesheet" href="/css/base.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" th:href="@{/images/account.jpg}">
  <style>
    .pagination {
      text-align: center;
      margin-top: 20px;
    }

    .pagination a {
      display: inline-block;
      padding: 8px 16px;
      margin: 4px;
      text-decoration: none;
      background-color: #2c3e50;
      color: white;
      border-radius: 5px;
    }

    .pagination a:hover {
      background-color: #1a252f;
    }

    .pagination span {
      font-size: 18px;
      margin: 0 10px;
    }

    .action-button {
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
    }

    .action-button i {
      font-size: 30px;
      color: #06999c;
      transition: transform 0.2s ease-in-out;
    }

    .action-button i:hover {
      transform: scale(1.1);
    }

    .button-container {
      display: flex;
      justify-content: flex-end; /* Căn các nút về bên phải */
      gap: 10px; /* Khoảng cách giữa các nút */
      align-items: center; /* Căn nút theo chiều dọc với tiêu đề */
      margin-bottom: 10px;
      margin-top: 60px; /* Hạ nút xuống gần với tiêu đề */
    }

    .button-container button {
      background-color: #d35400; /* Màu cam */
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      padding: 10px 20px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .button-container button:hover {
      background-color: #e67e22;
      transform: scale(1.05);
    }
  </style>
  <script src="/js/home.js"></script>
  <script>
    function callPage() {
      window.location.href ="/customer/createCustomer";
    }
    function callUpdate() {
      window.location.href ="/updateLog/listUpdatedRecord";
    }
  </script>
  <script type="text/javascript">
    function showMessage(messageType, message) {
      if (message && messageType) {
        alert(message);
        // Điều hướng về trang listCustomer sau 3 giây
        setTimeout(function () {
          window.location.href = "/customer/listCustomer";
        });
        // Hiển thị thông báo bằng alert
      }
    }
  </script>
  <script>
    function filterCustomers() {
      let params = new URLSearchParams();
      document.querySelectorAll('.filter-input').forEach(input => {
        if (input.value.trim() !== '') { // Chỉ thêm tham số nếu có giá trị
          params.append(input.name, input.value);
        }
      });

      window.location.href = '/customer/listCustomer' + '?' + params.toString();
    }
    document.addEventListener("DOMContentLoaded", function() {
      let params = new URLSearchParams(window.location.search);
      document.querySelectorAll('.filter-input').forEach(input => {
        if (params.has(input.name)) {
          let value = params.get(input.name);
          if (input.type === "date") {
            input.value = value.substring(0, 10); // Định dạng YYYY-MM-DD
          } else {
            input.value = value;
          }
        }
      });
    });

  </script>
</head>
<body>

<!-- Header -->
<div class="header">
  <button class="menu-btn" onclick="toggleSidebar()">☰</button>
  <h2><a href="/home">RSMS</a></h2>
  <div class="user-info">
    <img  th:src="${user.avatar}" alt="User Avatar" class="user-avatar"/>
    <div class="dropdown">
      <span th:text="${account.displayName}" class="user-name" onclick="toggleDropdown()"> ▼</span>
      <div id="dropdown-menu" class="dropdown-content">
        <a href="/user/userprofile">👤 View Profile</a>
        <a href="/user/changepw" id="changepw">🔑 Change password</a>
        <a href="/static#" id="logout">🚪 Logout</a>

      </div>
    </div>
  </div>

</div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

  <h2>Feature</h2>
  <a href="/user/userprofile" >Profile</a>
  <a href="/account/listStaff" th:style="${#lists.contains(listHiddenPage, 'listStaff')} ? 'display: none;' : ''">Staff Account Management</a>

  <a href="/product/listProduct" >Rice Management</a>

  <a href="/customer/listCustomer">Customer Management</a>

  <a href="/warehouse/listWarehouseZone" >Warehouse Management</a>


  <a href="/bill/listBill" >Invoice Management</a>

</div>


<!-- Content -->
<div class="content" id="content">

  <!-- Modal Form -->
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <h1>List of Customer Information</h1>
    <div class="button-container">
      <button onclick="callPage()">Create New Customer</button>
      <button onclick="callUpdate()">History about updating customer</button>
    </div>
  </div>



  <div id="messageBox">
    <script type="text/javascript">
      let messageType = '[[${messageType}]]';
      let message = '[[${message}]]';

      if (message && message.trim() !== '') {
        showMessage(messageType, message);
      }
    </script>
  </div>
  <!-- List -->


  <div th:if="${errorMessage}" style="color: red; font-weight: bold;">
    <p th:text="${errorMessage}"></p>
  </div>
  <table class="styled-table">
    <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Date of Birth</td>
      <td>Address</td>
      <td>Phone</td>
      <td>MoneyState</td>
      <td>Created By</td>
      <td>Action</td>
    </tr>
    <tr>
      <td class="twin-field" style="width: 7%;">
        <div style="display: flex; gap: 10%; width: 100%;">
          <input type="text" class="filter-input" name="idFrom"
                 onchange="filterCustomers()"
                 style="width: 48%;"/>
          <input type="text" class="filter-input" name="idTo"
                 onchange="filterCustomers()"
                 style="width: 48%;"/>
        </div>
      </td>
      <td>
        <input type="text" class="filter-input" name="name" onchange="filterCustomers()" style="width: 90%;">
      </td>
      <td class="twin-field" style="width: 5%;">
        <div style="display: flex; gap: 10%; width: 100%;">
          <input type="date" class="filter-input" name="dobFrom" onchange="filterCustomers()"
                 style="width: 48%;">
          <input type="date" class="filter-input" name="dobTo" onchange="filterCustomers()"
                 style="width: 48%;">
        </div>
      </td>
      <td>
        <input type="text" class="filter-input" name="address" onchange="filterCustomers()" style="width: 80%;">
      </td>
      <td>
        <input type="text" class="filter-input" name="phone" onchange="filterCustomers()" style="width: 70%;">
      </td>
      <td class="twin-field" style="width: 15%;">
        <div style="display: flex; gap: 10%; width: 100%;">
          <input type="text" class="filter-input" name="moneyFrom" onchange="filterCustomers()"
                 style="width: 48%;" step="1000">
          <input type="text" class="filter-input" name="moneyTo" onchange="filterCustomers()"
                 style="width: 48%;" step="1000">
        </div>
      </td>
      <td>
        <select class="filter-input" name="createBy" onchange="filterCustomers()" style="width: 80%;">
          <option value="">All</option>
          <option th:each="user : ${usersList}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
      </td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
      <td th:if="${customer != null}" th:text="${customer.id}"></td>
      <td th:if="${customer != null}" th:text="${customer.name}"></td>
      <td th:if="${customer != null}" th:text="${customer.dob}"></td>
      <td th:if="${customer != null}" th:text="${customer.address}"></td>
      <td th:if="${customer != null}"
          th:text="${customer.phone != null and #strings.equals(role, 'OWNER')}
             ? ${customer.phone}
             : ${'x'.repeat(customer.phone.length() - 3) + customer.phone.substring(customer.phone.length() - 3)}">
      </td>
      <td th:if="${customer != null}" th:text="${customer.moneyState}"></td>
      <td th:if="${customer != null}">
        <span th:each="user : ${usersList}"
          th:text="${user.id == customer.createdBy ? user.name : ''}"></span>
      </td>
      <td>
        <div style="display: flex; gap: 5px;">
          <a th:href="@{/customer/updateCustomer/{id}(id=${customer.id})}" class="action-button" title="Update Customer">
            <i class="fas fa-pen-square"></i>
          </a>
        <form th:action="@{../note/listNote/{id}(id=${customer.id})}" method="get">
          <button type="submit" style="padding: 0; border: none; background: none;" title="View Note Detail">
            <i class="fas fa-clipboard-list" style="font-size: 30px; color: #06999c;"></i> <!-- Icon Note Detail -->
          </button>
        </form>
        </div>
      </td>
    </tr>
    </tbody>

  </table>
  <!-- Phân trang -->
  <div class="pagination">
    <a th:if="${currentPage > 0}"
       th:href="@{/customer/listCustomer(page=${currentPage - 1}, size=5,
       idFrom=${idFrom}, idTo=${idTo},
       name=${name}, dobFrom=${dobFrom},dobTo=${dobTo},
       address=${address},
       phone=${phone},
       moneyFrom=${moneyFrom},
       moneyTo=${moneyTo},createBy=${createBy})}">
      Previous
    </a>

    <span>Page <span th:text="${currentPage + 1}"></span> of <span th:inline="text">[[${totalPages == 0 ? 1 : totalPages}]]</span></span>

    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/customer/listCustomer(page=${currentPage + 1}, size=5,
       idFrom=${idFrom}, idTo=${idTo},
       name=${name}, dobFrom=${dobFrom},dobTo=${dobTo},
       address=${address},
       phone=${phone},
       moneyFrom=${moneyFrom},
       moneyTo=${moneyTo},createBy=${createBy})}">
      Next
    </a>
  </div>


</div>
<footer>
  &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>

</body>
</html>

